<tr style="display: none" id="detail-<%= location.object_id -%>">
  <td colspan="8"> 
   
    <div class="flora">
      <ul class="admin-tabs">
        <li><a href="#tab-details-<%= location.object_id -%>">Details</a></li>
      </ul>
      
      <div id="tab-details-<%= location.object_id -%>">
    
        <table>
          <tr>
            <td>Titel:</td>
            <td><%=h location.title -%></td>
          </tr>
          <tr>
            <td>interne ID:</td>
            <td><%=h location.id -%></td>
          </tr>
          <tr>
            <td>Permalink:</td>
            <td><%=h location.permalink -%></td>
          </tr>
          <tr>
            <td>Adresse:</td>
            <td><%=h location.address.to_long -%></td>
          </tr>
          <tr>
            <td>Aktiver (Name):</td>
            <td><%=h location.owner.notify_name -%></td>
          </tr>
          <tr>
            <td>Aktiver (E-Mail):</td>
            <td><%= mail_to location.owner.notify_email -%></td>
          </tr>
          <tr>
            <td>Aktiver (Telefon):</td>
            <td><%=h location.owner.notify_phone -%></td>
          </tr>          
          <tr>
            <td>Erstellt:</td>
            <td><%=l location.created_at -%></td>
          </tr>
          <tr>
            <td>Letztes Update:</td>
            <td><%=l location.updated_at -%></td>
          </tr>
        </table>
      </div>
    </div>
  </td>
</tr>