<%- form_for(@search,
            :html => { 
                      :method => :get, 
                      :class => '' },
            :url => admin_events_path ) do |form| -%>

  <table border="0" width="100%" class="pagination-table" cellpadding="0" cellspacing="0">
  	<tr>
  	  <td width="15"></td>
      <td width="150" valign="middle" align="left" nowrap="nowrap">
        <%= form.text_field :search_word, :class => 'search-field' -%>
      </td>
      <td width="120" valign="middle" class="search-item-type">
        <%= form.select :conditions, Search::Admin::Event::CONDITION_OPTIONS, {}, :style => "width: 110px" -%>      
      </td>
      <td width="110" valign="middle" class="search-item-type">
        <%= form.select :order, Search::Admin::Event::ORDER_OPTIONS, {}, :style => "width: 110px" -%>      
      </td>
      <td width="60" valign="middle">
        <%= image_submit_tag 'search/search-btn.png', :class => 'search-btn' -%>
      </td>
      <% if @events.total_pages > 1 %>
  		<td align="right" nowrap="nowrap" valign="middle">
  			<%= pagination_for (@events, 
                             :previous_label => 'Vorige Seite',
                             :page_links => 'none',
                             :previous_links => true,
                             :next_links => false,
                             :first_label => 'Anfang') -%>
                             <select size="1" onchange="window.location.href = this.value" class="pages">
  			<%= pagination_for (@events,
                             :page_links => 'option_links',
                             :previous_links => false,
                             :next_links => false) -%>
                            </select> von <%= @events.total_pages %>
  			<%= pagination_for (@events, 
                             :next_label => 'Nächste Seite',
                             :page_links => 'none',
                             :previous_links => false,
                             :next_links => true,
                             :last_label => 'Ende') -%>

  			</td>
  			<%- else -%>
  			<td align="right"></td>
  			<%- end -%>
  	</tr>	
  </table>
<%- end -%>