<%- title 'Benutzerliste' -%>
<% breadcrumb [ link_to("Admin", admin_path), 
                link_to("Terminliste", admin_events_path), 
                link_to(h(@event.title), edit_admin_event_path(@event)) ]%>
<% magick_header "Termin editieren" %>
<%- content_for :left_column do -%>	
  <%= admin_sub_menu(:event_list) -%>
<%- end -%>

<div class="admin"> 
  <div class="edit-container">    
    <div class="edit-part-content">    
      <%- form_for(@event, 
                   :url => admin_event_path(@event), 
                   :builder => EditFormBuilder) do |f| -%>
  
      <table width="100%" class="reg-form" rowspan="0" colspan="0">
        <%= f.text_field :title, :required => false %>
        <%= f.text_field :event_type, :required => false %>
        <%= f.text_field :permalink, :required => false %>
        <%= f.text_field :website, :required => false -%>    
        <tr id="event_starts_at_wrap">
          <th><%= content_tag :label, Event.human_attribute_name("start_date") %>:</th>
          <td class="input-area">
            <%= f.text_field :start_date, :required => true, :render_table => false, :hide_label => true, :float_table => true -%>
            <%= f.text_field :start_time, :required => false, :hide_label => true, :render_table => false, :class => "time toggle no-refill", :title => "Bsp: 12:00" -%>
          </td>
        </tr>
        <tr id="event_ends_at_wrap">
          <th><%= content_tag :label, Event.human_attribute_name("end_date") %>:</th>
          <td class="input-area">
            <%= f.text_field :end_date, :required => true, :render_table => false, :hide_label => true, :float_table => true -%>
            <%= f.text_field :end_time, :required => false, :hide_label => true, :render_table => false, :class => "time toggle no-refill", :title => "Bsp: 12:00" -%>
          </td>
        </tr>
        <tr>
            <th valign="top">
              <label>
                Kategorien:
              </label>
            </th>
            <td>
              <% for category in SocialCategory.find(:all) %>
              <%= check_box_tag "event[social_category_ids][]", category.id, @event.social_categories.include?(category), :class => "checkbox" -%>     
              <span class="<%= "checkbox-label-active" unless @event.social_categories.include?(category.id) == false  -%>"><%= category.title -%></span>
              <br/>
              <% end %>
          </td>
        </tr>        
        <%= f.text_area :description, :required => false, :class => "mceEditor" %>
      </table>
    
       <div class="edit-part-bottom">
         <div class="buttons">
           <%= image_submit_tag "buttons/btn-save.png", :class => "submit-input" %>
           <%= link_to image_tag("buttons/btn-cancel.png"), admin_events_path -%>
         </div>   
       </div>
      <%- end -%>
    </div>
  </div>  
</div>