<% magick_header "Ortsprofil" %>
<%= my_helpedia_location_sub_menu(:profile) %> 
<div id="sub-content">
  <%= render :partial => "/my_helpedia/locations/edit/location_data" -%>
  <%= render :partial => "/my_helpedia/locations/edit/description" -%>
  <%= render :partial => "/my_helpedia/locations/edit/address" -%>
  <%= render :partial => "/my_helpedia/locations/edit/categories" -%>
</div>
