<div id="description" class="edit-container">  
  
  <div class="edit-part-head">
    <div class="title">
      <h1>Beschreibung</h1>
    </div>
    <%= link_to image_tag("buttons/btn-close.png"), 
                cancel_edit_part_my_helpedia_location_path(@location, :part => "description"), 
                :class => "ajax-link",
                :rel => "#{@location.object_id}-additional-data-spinner"                
                 -%>
  </div>

  <div class="edit-part-content">    
    <%- form_for(@location, 
                 :url => my_helpedia_location_path(@location, :part => "description"), 
                 :builder => EditFormBuilder,
                 :html => { :class => "remote-form",
                            :rel => "#{@location.object_id}-additional-data-spinner" }) do |f| -%>
    <table width="100%" class="reg-form" rowspan="0" colspan="0">
    <%= f.text_area :description, :required => true, :class => "mceEditor" -%>
    </table> 

     <div class="edit-part-bottom">
       <div class="buttons">
         <%= image_submit_tag "buttons/btn-save.png", :class => "submit-input" %>
         <%= link_to image_tag("buttons/btn-cancel.png"), 
                     cancel_edit_part_my_helpedia_location_path(@location, :part => "description"), 
                     :class => "ajax-link",
                     :rel => "#{@location.object_id}-additional-data-spinner" -%>
       </div>
       <div class="edit-form-spinner">
         <%= image_tag "ajax-spinner.gif", :id => "#{@location.object_id}-additional-data-spinner", :style => "display: none" -%>
       </div>                            
     </div>     
    <%- end -%>
  </div>
</div>