<% index = "new_uniq_text" %>
<% index = nil if no_index %>

<% form.fields_for :blog_post_contents, 
                   object, 
                   :child_index => index,
                   :builder => EditFormBuilder do |content_form| %>

<div class="edit-container fields" id="<%= dom_id(object.object_id) -%>">
  <div class="edit-part-head">
    <div class="title">
      <h1>Text mit Bildern</h1>
    </div>
    <%= remove_child_link image_tag("buttons/btn-close.png"), content_form %>                                                   
  </div>
  <div class="edit-part-content" style="margin-top: 0px">

      <% content_form.fields_for :contentable, 
                                 (object.contentable || object.build_contentable({"contentable_type" => "BlogContentText"})), 
                                 :builder => EditFormBuilder do |element_form| %>

<% tiny_mce_selector ||= nil %>
        <%= element_form.text_area :bodytext, 
                        :class => tiny_mce_selector || "mceEditor", 
                        :style => "width: 580px", 
                        :hide_label => true,
                        :fancy_table => false,
                        :rows => 15 %>
    <br />
    <h3>Bilder</h3> 
    <table border="0"  class="reg-form w-230">                        
        <%= element_form.select :image_alignment, BlogContentText::ALIGNMENT, { :required => false } %>
        <%= element_form.hidden_field :contentable_type, :value => "BlogContentText" %>
    </table>
    
    <table border="0"  class="reg-form w-230">                        
      <tr>
        <th></th>
        <td>
          <% object.contentable.image_attachments.each do |attachment| %>
            <%= render :partial => "/images/multiple_form_item", :locals => { :form => element_form, :object => attachment, :no_index => true } %>
          <% end %>          
          <div id="new-image"> </div>
        </td>
      </tr>        
    </table>        
    <br />
    <%= add_child_link "Neues Bild hinzufügen", element_form, 
                                                :object => object.contentable.image_attachments.build, 
                                                :partial => "/images/multiple_form_item", 
                                                :index => "image_uniq",
                                                :where => "#new-image" %>
    
  <% end %>                                     

  <br />  <br />
 </div>
</div>
<% end %>
