<div id="categories" class="edit-container">  
  
  <div class="edit-part-head">
    <div class="title">
      <h1>Kategorien</h1>
    </div>
    <%= link_to image_tag("buttons/btn-close.png"), 
                cancel_edit_part_my_helpedia_event_path(@event, :part => "categories"), 
                :class => "ajax-link",
                :rel => "#{@event.object_id}-categories-spinner"                
                 -%>
  </div>

  <div class="edit-part-content">    
    <%- form_for(@event, 
                 :url => my_helpedia_event_path(@event, :part => "categories"), 
                 :builder => EditFormBuilder,
                 :html => { :class => "remote-form",
                            :rel => "#{@event.object_id}-categories-spinner" }) do |f| -%>
                            
      <table width="100%" class="reg-form" rowspan="0" colspan="0">
        <tr>
          <th valign="top">
            <label><%= Event.human_attribute_name("social_categories") -%>:</label>
          </th>
          <td> 
            <ul>
              <%- for category in SocialCategory.find(:all) -%>
              <li id="category-<%= category.id -%>" style="padding: 2px;">
                <%= check_box_tag("event[social_category_ids][]", category.id, @event.social_categories.include?(category), :class => "checkbox", :id => "cat-#{category.id}") %>              
                <span>
                  <%= category.title -%>
                </span>
              </li>
              <%- end -%>
            </ul>
          </td>
        </tr>
      </table>

     <div class="edit-part-bottom">
       <div class="buttons">
         <%= image_submit_tag "buttons/btn-save.png", :class => "submit-input" %>
         <%= link_to image_tag("buttons/btn-cancel.png"), 
                     cancel_edit_part_my_helpedia_event_path(@event, :part => "categories"), 
                     :class => "ajax-link",
                     :rel => "#{@event.object_id}-categories-spinner" -%>
       </div>
       <div class="edit-form-spinner">
         <%= image_tag "ajax-spinner.gif", :id => "#{@event.object_id}-categories-spinner", :style => "display: none" -%>
       </div>                            
     </div>     
    <%- end -%>
  </div>
</div>