<%= my_helpedia_event_sub_menu(:profile) %> 
<% magick_header "Terminprofil"%>
<div id="sub-content">
  <%= render :partial => "/my_helpedia/events/edit/event_data" -%>
  <%= render :partial => "/my_helpedia/events/edit/additional_data" -%>
  <%= render :partial => "/my_helpedia/events/edit/address" -%>
  <%= render :partial => "/my_helpedia/events/edit/categories" -%>
</div>
