<div class="activity_memberships">
   <div class="list-table">
    <% for activity_membership in activity_memberships -%>
     <div class="list-table-item<%= " last" if activity_memberships.last == activity_membership -%>" id="membership_<%= activity_membership.id -%>">
       <div class="clearfloats">
         <div class="item-left">
           <div class="list-image-wrap">
             <%= image_for(activity_membership.user, :"90x69c", :context_menu => user_context_menu(activity_membership.user)) -%>
           </div>
         </div>         
         <div class="item-content-wrap">
           <div class="item-title">
             <%= user_profile_link_for activity_membership.user -%>
           </div>
           
           <div class="item-content">
             <div class="description">
            <%=h activity_membership.message -%>
             </div>
             <dl>
               <dt>Ist dabei seit:</dt>
               <dd><%=l activity_membership.updated_at.to_date -%></dd>
             </dl>
           </div>          
         </div>
       </div>
     </div>                                                         
   <%- end -%>
   </div>
</div>
