<div class="modal-left-content">                                               
  
  <% if @commendable.present? %>
  <h2>Weiterempfehlen</h2>
  <% else %>
  <h2>Freunde einladen</h2>
  <% end %>

  <% form_for(@commendation, 
     :url => polymorphic_path([@commendable, :commendations]),
     :builder => EditFormBuilder,
     :html => { :class => "remote-form", :rel => "request-spinner"} ) do |f| %>
    <table class="reg-form w-140" width="100%" colspan="0" rowspan="0">
      <tr>
        <th valign="top"> </th>
        <td>
          <span class="grey">* Pflichtfeld</span>
        </td>
      </tr>
      <%= f.text_field :receiver_email, :required => true, :class => "tt-width-140" -%>      
      <%= f.text_field :sender_name, :required => true, :class => "tt-width-140" -%>    
      <%= f.text_field :sender_email, :required => true, :class => "tt-width-140" -%>      
      <%= f.text_area :message, :required => false, :class => "tt-width-140" -%>
      <%= hidden_captcha_field :commendation %>
      <tr>
        <th></th>
        <td style="padding-left: 5px"><%= shadow_form_button("Senden", :css_class => 35, :font_size => 14) %> 
        oder <%= link_to "Abbrechen", "#", :onclick => "$.nyroModalRemove(); return false;" %></td>
      </tr>
      </table>
    <%- end -%>
  </div>
</div>