<div id="address" class="edit-container">

  <div class="edit-part-head">
    <div class="title">
      <h1>Adresse</h1>
    </div>
    <%= link_to image_tag("buttons/btn-close.png"), 
              cancel_edit_part_my_helpedia_user_path(@user, :part => "address"), 
              :class => "ajax-link",
              :rel => "#{@user.object_id}-address-spinner" -%>              
  </div>
  
  <div class="edit-part-content">  
    <%- form_for(@user, 
                :url => my_helpedia_user_path(@user, :part => "address"), 
                :builder => EditFormBuilder,                                 
                :html => { :class => "remote-form",
                           :rel => "#{@user.object_id}-address-spinner" }) do |f| -%>
    <%- @address = @user.address -%>
    <%- fields_for @user.address, :builder => EditFormBuilder do |form| -%>
      <table width="100%" class="reg-form" rowspan="0" colspan="0">
      <%= form.text_field :street, :required => false, :labels_from => User -%>
      <%= form.text_field :zip_code, :required => false, :labels_from => User -%>      
      <%= form.text_field :city, :required => false, :labels_from => User -%>
      <%= form.localized_country_select(:country_code, [:DE, :AT, :CH], :include_blank => t(:"shared.form.select.blank")) %>
      </table>
      
    <%- end -%>
    
    <div class="edit-part-bottom">
      <div class="buttons">
        <%= image_submit_tag "buttons/btn-save.png", :class => "submit-input" %>
        <%= link_to image_tag("buttons/btn-cancel.png"), 
                    cancel_edit_part_my_helpedia_user_path(@user, :part => "address"), 
                    :class => "ajax-link",
                    :rel => "#{@user.object_id}-address-spinner" -%>
      </div>
      <div class="edit-form-spinner">
        <%= image_tag "ajax-spinner.gif", :id => "#{@user.object_id}-address-spinner", :style => "display: none" -%>
      </div>                            
    </div>     

    <%- end -%>
  </div>
</div>