<%- title "Passwort setzen" -%>
<%- breadcrumb [ link_to("Passwort setzen", "/" )] -%>
<%- magick_header "Willkommen bei bewegung.taz!"-%>
<%= render_flash -%>
<p>
  Lieber fairdo-Nutzer, liebe fairdo-Nutzerin, <br/>
  bitte wähle einen Benutzernamen für bewegung.taz.de.<br/>
  Aus Sicherheitsgründen bitten wir dich, ein neues Passwort zu wählen <br/>
</p>

<%- form_for(@user,
            :url => set_password_user_path(:id => @user.uuid),
            :builder => EditFormBuilder) do |form| -%>
  <table border="0"  class="reg-form w-230">
    <tr>
      <th valign="top"> </th>
      <td> </td>
    </tr>
     <%= form.hidden_field :uuid %>
     <%= form.text_field :permalink, :required => true, :labels_from => User -%>  
     <%= form.password_field :password, :required => true, :labels_from => User -%>
     <%= form.password_field :password_confirmation, 
                           :required => true, 
                           :hide_label => false,
                           :style => "width: 196px",                        
                           :class => "make-me-short",
                           :before_html => '<img align="left" style="padding:0;margin-left:2px;display:inline" src="/images/overlay1/password-arrow.png" border="0" alt="Password wiederholen" />' -%>
    <tr>
      <td style="padding-left:210px; padding-top:10px">
          <%= form.check_box :accept_taz_agb, :hide_label => true, :fancy_table => false, :render_table => false, :tooltip => false -%>
      </td>
      <td style="padding-top:10px">
        <%= I18n.t(:"user.terms_of_use_text", :agb => link_to("AGB", '/pages/agb', :target => "_blank"), 
                                              :datenschutzbestimmungen => link_to("Datenschutzerklärung", '/pages/datenschutzerklaerung', :target => "_blank")) -%>
      </td>
    </tr>
    <tr class="form-submit ">
     <th>
     </th>
     <td style="padding-left:5px">
        <%= shadow_form_button("Speichern", :css_class => 35, :font_size => 14) %> oder <%= link_to("Profil löschen", delete_fairdouser_user_path(:id => @user.uuid), :confirm => I18n.t(:"user.delete_question") )-%>
     </td>
    </tr>
  </table>
<% end -%>
