<div id="sub-content">
     
    <div class="overview-item">
      <h2><%= t(:"activity.public_profile.sub_content.tabs.overview.content.about_header") -%></h2>
      <%= truncate secured_rte_text(@activity.description, :plain => true), :length => 285 %>
      <%= link_to t(:"shared.links.more"), description_activity_path(@activity) %>
    </div>
 
    <%- unless @activity.blog.posts.published.recent.blank? -%>
    <div class="overview-item">
      <h2><%= t(:"activity.public_profile.sub_content.tabs.overview.content.blog_latest_header") -%></h2>
      <h4><%= @activity.blog.posts.published.recent.first.title -%></h4>
      <% unless @activity.blog.posts.published.recent.first.blog_post_contents.blank? %> 
      <%= render :partial => "/my_helpedia/blog_post_contents/teaser/#{@activity.blog.posts.published.recent.first.blog_post_contents.first.contentable_type.underscore}",
                 :locals => { :content => @activity.blog.posts.published.recent.first.blog_post_contents.first.contentable } %>
      <% end %>      
      <%= link_to t(:"shared.links.more"), activity_blog_path(@activity) %>
    </div>
    <%- end -%>

   <%- unless @activity.activity_memberships.active.blank? -%> 
   <div class="overview-item">
     <h2><%= "Sympathisanten" -%></h2>
     <div class="clearfloats">
       <%- for membership in @activity.activity_memberships.latest.active.limit(15) -%> 
       <div class="membership-image">
         <%= link_to image_for(membership.user, :"56x42c"), activity_activity_memberships_path(@activity), :title => h(membership.user.full_name) -%>
       </div>
       <%- end -%>
     </div> 
     <div class="last-link-element">
      <%= link_to "Details &amp; Kommentare >>", activity_activity_memberships_path(@activity) %>
     </div>
   </div>    
   <%- end -%>
   
</div>