<% magick_header "Aktionsprofil" %>
<%= my_helpedia_activity_sub_menu(:profile) %> 
<div id="sub-content">
  <%= render :partial => "/my_helpedia/activities/edit/activity_data" -%>
  <%= render :partial => "/my_helpedia/activities/edit/activity_texts" -%>
  <%= render :partial => "/my_helpedia/activities/edit/address" -%>
  <%= render :partial => "/my_helpedia/activities/edit/relations" -%>
  <%= render :partial => "/my_helpedia/activities/edit/categories" -%>  
</div>
