<% breadcrumb [ link_to("Admin", admin_path), link_to("Organisationsstatistiken", statistics_admin_organisations_path) ]%>

<% content_for :left_column do %>	
  <%= admin_sub_menu(:organisation_statistics) -%>
<%- end -%>


<table class="admin-table" width="100%" style="font-size: 0.95em;">
  <tr>
    <th width="20%"></th>                   
    <th width="20%">Organisationen gesamt</th>
    <th width="20%">Aktiv</th>
    <th width="20%">Gesperrt</th>       
    <th width="20%">Wartend</th>                
  </tr>
  <tr>
    <td>Insgesamt</td>
    <td><%= Organisation.count -%></td>
    <td><%= Organisation.active.count -%></td>    
    <td><%= Organisation.suspended.count -%></td>
    <td><%= Organisation.pending.count -%></td>
  </tr>   
</table>   

<br />
<table class="admin-table" width="100%" style="font-size: 0.95em;">
  <tr>
    <th width="20%">Eingeloggt in den letzten 24h</th>
  </tr>
  <tr>
    <td><%= Organisation.count :conditions => ["logged_in_at IS NOT NULL AND logged_in_at > ?", Time.now - 1.day] -%></td>
  </tr>   
</table>

