<%- magick_header "Organisationsprofil" -%>
<%= my_helpedia_organisation_sub_menu(:profile) %> 
<div id="sub-content">
  <%= render :partial => "/my_helpedia/organisations/edit/organisation_data" -%>
  <%= render :partial => "/my_helpedia/organisations/edit/about" -%>      
  <%= render :partial => "/my_helpedia/organisations/edit/address" -%>
  <%= render :partial => "/my_helpedia/organisations/edit/contacts" -%>        
  <%= render :partial => "/my_helpedia/organisations/edit/profile_settings" -%>
  <%= render :partial => "/my_helpedia/organisations/edit/operation_area" -%>  
</div>
