<%= content_tag(:div, my_helpedia_user_message_menu(:index), :class => "messages-menu-wrapper") -%>
<%= spinner -%>
<% if @messages.blank? -%>
Du hast noch keine Nachrichten. 
<%- else -%>
<div class="edit-container">
  <div class="clearfloats edit-profile"> 
    <%= will_paginate %>
    <table class="message-table" with="100%">
      <%= render :partial => "/my_helpedia/messages/teaser_message", :collection => @messages, :as => :message %>
      <tr><td colspan="4" class="seperator">&nbsp;</td></tr>
    </table>
    <%= will_paginate %>
  </div>
</div>
<% end -%>