<tr id="separator-message_<%= message.id %>"><td colspan="4" class="seperator">&nbsp;</td></tr>
<tr class="<%= class_for_message(message) -%> <%= cycle("","alternate") -%>" id="message_<%= message.id %>" >
  
  <%- if %w( sent create ).include?(params[:action]) -%>
  <td class="image">
    <%= image_for(message.recipient, :"56x42c")%>
  </td>
  <td class="name-and-date">
    <span class="name">An: <%= user_profile_link_for(message.recipient) -%></span>
    <span class="date"><%=l message.created_at -%></span>
  </td>
  <%- else -%>
  <td class="image">
    <%= image_for(message.sender, :"56x42c") unless message.sender.blank? %>
  </td>
  <td class="name-and-date">
    <span class="name"><%= user_profile_link_for(message.sender) -%></span>
    <span class="date"><%=l message.created_at -%></span>
  </td>  
  <%- end -%>
  
  <td class="subject">
    <span class="subject">
		  <%= link_to message.subject, my_helpedia_message_path(message, :anchor => "message_#{message.id}"), :class => "remote-link", :rel => "spinner" -%>   	
	  </span>
    <span class="message">
      <%=h truncate(message.body, :length => 80) -%>
    </span>
  </td>
  <td style="width: 31px">
    <%= link_to image_tag("layout/messages/icon-papiekorb.png", :class => "message_delete"), my_helpedia_message_path(message), :class => "ajax-link-delete" %>
  </td>
</tr>