<div id="<%= @external_profile_membership.object_id %>"> 
  
  <div class="edit-part-head">
    <div class="title">
      <h2><%= @external_profile_membership.try(:external_profile).try(:title) || "Neue Seite" -%></h2>
    </div>
    <%= link_to image_tag("buttons/btn-close.png"), 
                cancel_edit_part_my_helpedia_user_external_profile_membership_path(@user, @external_profile_membership.temp_id, :part => @external_profile_membership.object_id), 
                :class => "ajax-link",
                :rel => "#{@external_profile_membership.object_id}-memberhsip-spinner" -%>
  </div>  

  <div class="edit-part-content">  
    <%- form_for(@external_profile_membership, 
                :url => @form_url, 
                :builder => EditFormBuilder,
                :html => {:class => "remote-form",
                          :rel => "#{@external_profile_membership.object_id}-memberhsip-spinner" } ) do |f| -%> 
      
      <table width="100%" class="reg-form" rowspan="0" colspan="0">
      <%= f.text_field :url, :class => "text-input" %>
      <%= f.text_area :description, :style => "height: 100px;" %>
      </table>
      
      <div class="edit-part-bottom">
         <div class="buttons">
            <%= image_submit_tag "buttons/btn-save.png", :class => "submit-input" %>
            <%= link_to image_tag("buttons/btn-cancel.png"), 
                cancel_edit_part_my_helpedia_user_external_profile_membership_path(@user, @external_profile_membership.temp_id, :part => @external_profile_membership.object_id), 
                :class => "ajax-link",
                :rel => "#{@external_profile_membership.object_id}-memberhsip-spinner" -%>
            <%- unless @external_profile_membership.new_record? -%>  
            <%= link_to image_tag("buttons/btn-delete.png"), 
                  my_helpedia_user_external_profile_membership_path(@user, @external_profile_membership, :part => @external_profile_membership.object_id), 
                 :class => "ajax-link-delete",
                 :rel => "#{@external_profile_membership.object_id}-memberhsip-spinner" -%>                 
            <%- end -%>                
         </div>
           <div class="edit-form-spinner">
              <%= image_tag "ajax-spinner.gif", :id => "#{@external_profile_membership.object_id}-memberhsip-spinner", :style => "display: none" -%>
            </div>         
       </div>      
    <%- end -%>
</div>